/* =============================================================================
   Author: Aaron Van Ruler
   Site: 
   ========================================================================== */

$blueprint-grid-columns: 16;
$blueprint-grid-width: 60px;
$blueprint-grid-margin: 10px;

@import "blueprint/grid";

body {
  font:16px/26px Helvetica, Helvetica Neue, Arial;
  background-color: #cccccc;
}

h1, h2, h3 {margin:0 0 30px; line-height: 1;}
h2 {font-size: 40px;}
h3 {font-size: 30px;}

#title, h2, h3 {font-weight:normal;}

#title {
  font-size: 60px;
  color:white;
  float:left;
}

#header-container {
  background-color:#f16529;
  height:130px;
  border-bottom:20px solid #e44d26;
  margin-bottom:50px;
}

@import "partials/suckerfish";
header {
  @include container();
}
nav ul {
  @include suckerfish(100px, 100px);
}


.two-col {
  #content-wrap {
    @include container;
    #content {
      @include column(12); }
    #sidebar {
      @include column(4, true); }
  }
}

aside {
  color:white;
  background-color:#f16529;
  border-bottom:20px solid #e44d26;
  margin-bottom:50px;
}

article header {
  margin-bottom:50px;
  padding-bottom:30px;
  width:700px;
}

#footer-container {
  background-color:#f16529;
  height:240px;
  border-top:20px solid #e44d26;
  margin-top:50px;
}

#footer-container footer{
  @include container();
  color:white;
}