/* =============================================================================
   Author: Aaron Van Ruler
   Site: 
   ========================================================================== */
body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
  background-color: #cccccc;
}

h1, h2, h3 {
  margin: 0 0 30px;
  line-height: 1;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

#title, h2, h3 {
  font-weight: normal;
}

#title {
  font-size: 60px;
  color: white;
  float: left;
}

#header-container {
  background-color: #f16529;
  height: 130px;
  border-bottom: 20px solid #e44d26;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 40px 40px -40px #aaaaaa;
  -moz-box-shadow: 0 40px 40px -40px #aaaaaa;
  box-shadow: 0 40px 40px -40px #aaaaaa;
}

header {
  width: 1110px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: 1;
}
header nav a {
  display: block;
  width: 100px;
}
header nav li {
  float: left;
  width: 100px;
}
header nav li:hover ul, header nav li.sfhover ul {
  left: auto;
}
header nav li:hover ul li, header nav li.sfhover ul li {
  float: none;
  display: block;
}
header nav li:hover ul ul, header nav li.sfhover ul ul {
  left: -999em;
}
header nav li li:hover ul, header nav li li.sfhover ul {
  left: auto;
}
header nav li ul {
  position: absolute;
  width: 100px;
  left: -999em;
}
header nav li ul ul {
  margin: -1em 0 0 100px;
}

.two-col #content-wrap {
  width: 1110px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
.two-col #content-wrap #content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 830px;
}
* html .two-col #content-wrap #content {
  overflow-x: hidden;
}
.two-col #content-wrap #sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 270px;
}
* html .two-col #content-wrap #sidebar {
  overflow-x: hidden;
}

aside {
  color: white;
  background-color: #f16529;
  border-bottom: 20px solid #e44d26;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 0px 40px -10px #aaaaaa;
  -moz-box-shadow: 0 0px 40px -10px #aaaaaa;
  box-shadow: 0 0px 40px -10px #aaaaaa;
}

article header {
  margin-bottom: 50px;
  padding-bottom: 30px;
  width: 700px;
  -webkit-box-shadow: 0 45px 60px -60px #aaaaaa;
  -moz-box-shadow: 0 45px 60px -60px #aaaaaa;
  box-shadow: 0 45px 60px -60px #aaaaaa;
}

#footer-container {
  background-color: #f16529;
  height: 240px;
  border-top: 20px solid #e44d26;
  margin-top: 50px;
  -webkit-box-shadow: 0 -40px 40px -40px #aaaaaa;
  -moz-box-shadow: 0 -40px 40px -40px #aaaaaa;
  box-shadow: 0 -40px 40px -40px #aaaaaa;
}

#footer-container footer {
  width: 1110px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  color: white;
}
